<div class="flex flex-column p-2">
  <h3>Buscador</h3>

  <mat-form-field>
    <mat-label>Character finder</mat-label>
    <input
      type="text"
      matInput
      [matAutocomplete]="auto"
      [formControl]="searchInput"
      (input)="searchHero()"
      placeholder="Character name"
    />

    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onSelectedOption($event)"
    >
      <mat-option *ngFor="let hero of characters" [value]="hero">
        {{ hero.name }}
      </mat-option>

      <mat-option
        *ngIf="
          characters.length === 0 &&
          searchInput.value &&
          searchInput.value.length > 0
        "
        value=""
      >
        No se encontró nada con el término {{ searchInput.value }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  {{ selectedCharacter | json }}
</div>
