<h1>
  {{ currentCharacter.id ? "Edit" : "Add" }}
  <small>character</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-6" sm:col-6>
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="heroForm" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Character name</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="name"
              placeholder="Enter character name"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Title / Position</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="title"
              placeholder="Enter character title"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Class</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="class"
              placeholder="Enter character class"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Skills</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="skills"
              placeholder="Enter character skills name"
            />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Creator</mat-label>
            <mat-select formControlName="creator" required>
              <mat-option *ngFor="let creator of creators" [value]="creator.id">
                {{ creator.desc }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Character Image</mat-label>
            <input
              matInput
              type="text"
              formControlName="alt_img"
              placeholder="enter image URL"
            />
          </mat-form-field>
        </form>

        <div class="flex justify-content-center">
          <button
            *ngIf="currentCharacter.id"
            (click)="onDeleteHero()"
            mat-flat-button
            color="warn"
            class="mr-3"
          >
            Borrar
          </button>

          <button
            mat-flat-button
            color="primary"
            class="mr-3"
            (click)="onSubmit()"
          >
            <mat-icon> save </mat-icon>
            Save
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 sm:col-6">
    <mat-card>
      <img
        [src]="currentCharacter | heroImage"
        alt="character image"
        mat-card-image
      />
    </mat-card>
  </div>
</div>
