<mat-card>
  <mat-card-header>
    <mat-card-title>{{ character.name }}</mat-card-title>
    <mat-card-subtitle>{{ character.title }}</mat-card-subtitle>
  </mat-card-header>

  <img
    mat-card-image
    [src]="character | characterImage"
    [alt]="character.name"
    alt=""
  />
  <mat-card-content class="mt-2">
    <p>
      <strong
        >Class:
        <mat-icon>shield</mat-icon>
        {{ character.class }}
      </strong>
      <br />
      <mat-chip-listbox>
        <mat-chip *ngFor="let skill of character.skills">
          {{ skill.name }}
        </mat-chip>
      </mat-chip-listbox>
    </p>
    <h4>{{ character.creator }}</h4>
  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions>
    <button
      mat-button
      mat-raised
      color="primary"
      [routerLink]="['/heroes/edit', character.id]"
    >
      <mat-icon>edit</mat-icon>
      Edit
    </button>

    <span class="spacer"></span>

    <button mat-button mat-raised [routerLink]="['/heroes', character.id]">
      <mat-icon>more_horiz</mat-icon>
      More
    </button>
  </mat-card-actions>
</mat-card>
